@model IEnumerable<Author>
@{
    ViewBag.Title = "Authors";
    var user = ViewContext.HttpContext.Session.GetSessionObjectFromJson<User>(Settings.SESSION_USER_KEY);
}
<h1>@ViewBag.Title</h1>
<ul>
    @foreach (Author author in Model)
    {
        <li>@author.FirstName @author.LastName</li>
    }
</ul>

@if (user is not { IsAdministrator: true }) { return; }

<div>@Html.ActionLink("New", "create")</div>