@using Microsoft.AspNetCore.Http
@using PersonalPortfolio.Controllers
@model User

@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Login";
    HttpContext? httpContext = HttpContextAccessor.HttpContext;

    if (ReferenceEquals(httpContext, null)) { throw new NullReferenceException($"Could not access {nameof(HttpContext)}"); }

    var sessionObject = httpContext.Session.GetSessionObjectFromJson<User>(Settings.SESSION_USER_KEY);
}

@if (ReferenceEquals(sessionObject, null))
{
    var i = httpContext.Session.GetSessionObjectFromJson<int>(Settings.LOGIN_PAGE_ID_KEY);
    switch (i)
    {
        case 0:
            <partial name="LoginForm"/>
            break;
        case 1:
            <partial name="RegisterForm"/>
            break;
    }
}
else
{
    <div class="text-center">
        <h1>Hello @sessionObject.UserName</h1>
        <input type="button" value="Logout" onclick="location.href='@Url.Action("Logout")'"/>
    </div>
}