@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is a project to take a more in depth look in c#'s data access technology 
        "<a href="https://learn.microsoft.com/en-us/ef/core/">Entity Framework Core</a>" and its web app solution
        "<a href="https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/?view=aspnetcore-8.0">ASP.NET Core MVC</a>"
    </p>
</div>